# If Statement

In [2]:
age = int ( input ( 'Enter your age:' ) )
print ( age )

if age >= 18:
    print (f'You are above 18 years old' )

19
You are above 18 years old

In [3]:
age = int ( input ( 'Enter your age:' ) )
print ( age )

if age >= 18:
    print ( f'You are above 18 years old' )
else:
    print ( f'You are under 18 years old' )

15
You are under 18 years old

In [5]:
age = int ( input ( 'Enter your age:' ) )
print ( age )

if age >= 18:
    print ( 'You are above 18 years old' )
elif age >= 12:
    print ( 'You are between 12 and 18 years old' )
else:
    print ( 'You are under 18 years old' )

13
You are between 12 and 18 years old

In [6]:
age = int ( input ( 'Enter your age:' ) )
print ( age )

if age >= 18:
    print ( 'You are above 18 years old' )
elif age >= 12:
    print ( 'You are between 12 and 18 years old' )
elif age >= 8:
    print ( 'You are between 8 and 12 years old' )
else:
    print ( 'You are under 18 years old' )

9
You are between 8 and 12 years old

In [7]:
number = int( input ( 'Enter a number' ) )
print (number)

if number % 3 == 0:
    print(f'{number} is dividable by 3')
else:
    print(f'{number} is not dividable by 4')

93
93 is dividable by 3

In [15]:
# If tasks

# Print the first 20 numbers which are divisible by 3 without a remainder using for loop and if

for i in range ( 1, 21 ):
    if i % 3 == 0:
        print ( i )
    if i  == 20:
        break

# Get the amount of the first 50 digits inclusive only if the new current amount is even

current_amount = 0
for i in range (1, 51):
    current_amount += i
    if current_amount % 2 == 0:
        print (f'New current amount is {current_amount}')
    else:
        current_amount -= i
print ( current_amount )

3
6
9
12
15
18
New current amount is 2
New current amount is 6
New current amount is 12
New current amount is 20
New current amount is 30
New current amount is 42
New current amount is 56
New current amount is 72
New current amount is 90
New current amount is 110
New current amount is 132
New current amount is 156
New current amount is 182
New current amount is 210
New current amount is 240
New current amount is 272
New current amount is 306
New current amount is 342
New current amount is 380
New current amount is 420
New current amount is 462
New current amount is 506
New current amount is 552
New current amount is 600
New current amount is 650
650

In [11]:
# Let select a number, print its product from 1 to 10 only if the selected number squared is odd

number = int (input ('Enter a number') )
if number ** 2 % 2 != 0:
    product = 1
    for i in range (1, 11):
        product *= number * i
    print(f' Product of {number} from 1 to 10 is {product}')
else:
    print(f'{number} squared is not odd.')

 Product of 13 from 1 to 10 is 500260895221651200

In [21]:
# Get all possible combinations from these lists only if the day is either Monday or Wednesday and the hours are from 12 to 17, enter them in the list

full_list = []
days = ('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday' , 'Sunday')
hours = [10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

for day in days:
    if day in ['Monday', 'Wednesday']:
        for hour in hours:
            if hour in range(12, 18):
                full_list.append((day, hour))
print( full_list )

[('Monday', 12), ('Monday', 13), ('Monday', 14), ('Monday', 15), ('Monday', 16), ('Monday', 17), ('Wednesday', 12), ('Wednesday', 13), ('Wednesday', 14), ('Wednesday', 15), ('Wednesday', 16), ('Wednesday', 17)]

# none, aka null, nill, NaN

In [22]:
nothing = None
print ( nothing )
print ( type ( nothing ) )

None
<class 'NoneType'>

In [25]:
import random

name = ''

if random.random() > 0.5:
    name = input( 'Enter your name: ' )

if name != '':
    print(f'Hello {name}!')

Hello Rokenzo!

In [31]:
import random

name = None

if random.random() > 0.5:
    name = input('Enter your name:')

if name is not None and name != '':
    print(f'Hello {name}!')
elif name is not None and name == '':
    print(f'We couldn\'t read your name. Please try again')
else:
    print('We didn\'t ask for the name')

We couldn't read your name. Please try again

# Dictionary

In [34]:
me = {
    'name': 'Darius',
    'surname': 'Grigaliunas',
    'hobbies': ['tennis', 'football'],
    'age': 265
}

print(me)

me['country'] = 'Lithuania'
print(me)
me['country'] = 'Denmark' #overwrites if the same 
print(me)

{'name': 'Darius', 'surname': 'Grigaliunas', 'hobbies': ['tennis', 'football'], 'age': 265}
{'name': 'Darius', 'surname': 'Grigaliunas', 'hobbies': ['tennis', 'football'], 'age': 265, 'country': 'Lithuania'}
{'name': 'Darius', 'surname': 'Grigaliunas', 'hobbies': ['tennis', 'football'], 'age': 265, 'country': 'Denmark'}

## deleting parts

In [35]:
me = {
    'name': 'Darius',
    'surname': 'Grigaliunas',
    'hobbies': ['tennis', 'football'],
    'age': 265
}

print(me)
print (me.pop('age'))
print(me)

{'name': 'Darius', 'surname': 'Grigaliunas', 'hobbies': ['tennis', 'football'], 'age': 265}
265
{'name': 'Darius', 'surname': 'Grigaliunas', 'hobbies': ['tennis', 'football']}

In [40]:
twitter_post = {
  "created_at": "Tue Feb 27 21:11:40 +0000 2018",
  "id": 968594506663669800,
  "id_str": "968594506663669760",
  "text": "RT @honeydrop_506: 180222 ICN #백현 #BAEKHYUNnn나의 겨울과 너nn#iHeartAwards #BestFanArmy #EXOL @weareoneEXO https://t.co/hg7I3xAlBg",
  "truncated": False,
  "in_reply_to_status_id": None,
  "in_reply_to_status_id_str": None,
  "in_reply_to_user_id": None,
  "in_reply_to_user_id_str": None,
  "in_reply_to_screen_name": None,
  "user": {
    "id": 4448809940,
    "id_str": "4448809940",
    "name": "ayah",
    "screen_name": "lovbyun",
    "location": "bbh iu jjh pcy kjd dks",
    "url": "https://curiouscat.me/baekhyun-l",
    "description": "hi hello I love exo",
    "translator_type": "none",
    "protected": False,
    "verified": False,
    "followers_count": 1142,
    "friends_count": 125,
    "listed_count": 20,
    "favourites_count": 5712,
    "statuses_count": 4011,
    "created_at": "Fri Dec 04 03:44:59 +0000 2015",
    "utc_offset": -28800,
    "time_zone": "Pacific Time (US & Canada)",
    "geo_enabled": False,
    "lang": "en",
    "contributors_enabled": False,
    "is_translator": False,
    "profile_background_color": "000000",
    "profile_background_image_url": "http://abs.twimg.com/images/themes/theme1/bg.png",
    "profile_background_image_url_https": "https://abs.twimg.com/images/themes/theme1/bg.png",
    "profile_background_tile": False,
    "profile_link_color": "F58EA8",
    "profile_sidebar_border_color": "000000",
    "profile_sidebar_fill_color": "000000",
    "profile_text_color": "000000",
    "profile_use_background_image": False,
    "profile_image_url": "http://pbs.twimg.com/profile_images/967130320259526656/0xZ-wxXJ_normal.jpg",
    "profile_image_url_https": "https://pbs.twimg.com/profile_images/967130320259526656/0xZ-wxXJ_normal.jpg",
    "profile_banner_url": "https://pbs.twimg.com/profile_banners/4448809940/1519340670",
    "default_profile": False,
    "default_profile_image": False,
    "following": None,
    "follow_request_sent": None,
    "notifications": None
  },
}


print(twitter_post["user"]["friends_count"])

125