## String

In [ ]:
name = 'Darius'

In [2]:
print('1972'.isdigit())
print('1972 '.isdigit())
print(( '  1972  '.strip()))

True
False
1972

## String formatting - f string

In [6]:
name = 'Darius'
surname = 'Grigaliunas'
number = 42

print( name + ' ' + surname + ', nice to meet you! Your number is ' + str(number))

print (f'{name} {surname}')
print(f'{name} {surname}, nice to meet you! Your number is {number}')

Darius Grigaliunas, nice to meet you! Your number is 42
Darius Grigaliunas
Darius Grigaliunas, nice to meet you! Your number is 42

In [7]:
name = 'Rokas'
surname = "Perveneckas"
print(f'{name} {surname}')

Rokas Perveneckas

In [19]:
text_1 = 'Python makes me really really happy!'

print(text_1.upper())
print(text_1.replace('Python', 'PyThOn'))

PYTHON MAKES ME REALLY REALLY HAPPY!
PyThOn makes me really really happy!

In [21]:
text = 'Hello World, I am happy to learn Python!'
word_to_find = 'happy'

print(text.index('happy'))
print(len('happy'))
print(text[18:23])


print(text[text.find(word_to_find)])

print(text.index('to'))
print(len('to'))
print(text[24:26])

print(len(text))

18
5
happy
h
24
2
to
40

# Numbers

In [23]:
int_1 = 1
float_1 = 1.0
float_2 = 1.


print(type(int_1))
print(type(float_1))
print(type(float_2))

<class 'int'>
<class 'float'>
<class 'float'>

# operations

In [27]:
print( 5 + 10 )
print( 5 - 10 )
print( 5 * 10 )
print( 5 / 10 )

print( 2 ** 2 ) # to the power of
print( 2 ** 3 )

print('floor division')
print( 15 // 10 ) # floor division / full value

print('modulus division')
print(15 % 10)

15
-5
50
0.5
4
8
floor division
1
modulus division
5

In [31]:
my_sum = 0


my_sum += 5.4
my_sum += 3.0
my_sum += 1

print(my_sum)

9.4

In [36]:
n1 = 1
n2 = 2

print(n1 + n2)
print(n1 - n2)
print(n1 * n2)
print(n1 % n2)
print(n1 / n2)

3
-1
2
1
0.5

In [37]:
f1 = 1.
f2= 2. 

print(f1 + f2)
print(f1 - f2)
print(f1 * f2)
print(f1 % f2)
print(f1 / f2)

3.0
-1.0
2.0
1.0
0.5

In [54]:
distance1 = 384_000
distance2= 150_000_000

print(f'The distance to the sun is {distance2/distance1} times greater than the distance to the moon')

speed = 150

print(f'It would take us {int(distance1/speed)} hours')
print(f'It would take us {distance1/speed*60} minutes')
print(f'It would take us {distance1/speed*60*60} seconds')
print(f'It would take us {distance1/speed/24} days')
print(f'It would take us {distance1/speed/24/30} months')
print(f'It would take us {distance1/speed/24/365} years')

The distance to the sun is 390.625 times greater than the distance to the moon
It would take us 2560 hours
It would take us 153600.0 minutes
It would take us 9216000.0 seconds
It would take us 106.66666666666667 days
It would take us 3.555555555555556 months
It would take us 0.29223744292237447 years

In [56]:
from datetime import date

today = date.today()
birthday = date(1999, 2, 13)
difference = today - birthday

print(f'{difference.days} days have passed from my birthday')

8776 days have passed from my birthday

In [61]:
text = 'Hello World'
bool_1 = 'd' in text
print (bool_1)

print('D' in text)
print('h' in text)
print('h' in text.lower())

True
False
False
True

In [63]:
print( not True)
print( not False)
print( not not False)

False
True
False

# and, or

In [66]:
a = 2
b = 5
c = -10

print( a < b and b > c )
print( a > b and b > c )

True
False

In [74]:
print( 10 > 5)
print('A' in 'ABC')
print(True)
print(not False)
print(bool('1'))



print( 10 < 5)
print('A' in 'B')
print(False)
print(not True)
print(bool(0))

True
True
True
True
True
False
False
False
False
False

In [81]:
cities = ['Vilnius', 'Kaunas', 'London']

print( cities )
print( type(cities) )
print( cities [1] )
print( type(cities[1]) )

print( cities[1:] )
print( cities[:2] )

numbers = [1, 654, 7, 6987, 7, '87', False]
print(len(numbers))

['Vilnius', 'Kaunas', 'London']
<class 'list'>
Kaunas
<class 'str'>
['Kaunas', 'London']
['Vilnius', 'Kaunas']
7